.single-product{
    display:flex;
    margin-bottom:5px;
}
.product-details{
    margin-left:5px;
}
.product-details h3{
    font-size: 17px;
    color: blue;
    font-weight:400;
}
.single-product-btn{
    background-color: goldenrod;
    width:150px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor:pointer;
}