.header img{
    height: 80px;
}
.header {
    text-align: center;
}

.header nav{
    background-color: black;
    line-height:40px;
    font-size: 20px;
}

nav a{
    text-decoration: none;
    margin-right: 20px;
    padding:6px;
    color:white;
}
nav a:hover{
    background-color: lightgray;
}